<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Parcelas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-searchbar inputmode="numeric" (ionChange)="buscarParcela($event)" placeholder="Buscar Parcela"></ion-searchbar>
    <ion-item button (click)="editarParcela(parcela)" *ngFor="let parcela of listaParcelas | filtroParcelas:filtroBusqueda">
      <ion-label slot="start">Parcela {{parcela.numeroParcela}}</ion-label>
      <ion-badge *ngIf="parcela.activa" color="primary">Activa</ion-badge>
      <ion-badge *ngIf="!parcela.activa" color="medium">Inactiva</ion-badge>
      <!-- <ion-button slot="end" type="button" color="light" (click)="editarParcela(parcela)"><ion-icon name="create-outline" color="dark"></ion-icon></ion-button> -->
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" (click)="nuevaParcela()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
