<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista Modulos de Pastoreo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-searchbar inputmode="numeric" (ionChange)="buscarModulo($event)" placeholder="Buscar Parcela"></ion-searchbar> -->
    <ion-item button (click)="editarModulo(modulo)" *ngFor="let modulo of listaModulosPastoreo">
      <ion-label>Modulo: {{modulo.id}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" (click)="crearModulo()"></ion-icon>
      <!-- <ion-icon name="add" [routerLink]="['/modulo-pastoreo']"></ion-icon> -->
    </ion-fab-button>
  </ion-fab>
</ion-content>
